/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Smooth scroll */
html{
    scroll-behavior: smooth;
}

/* BODY */
body{
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg, #ffd6e8, #e6d6ff, #d6f0ff);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 30px;
    color: #6b4b7a;
}

/* NAV */
nav{
    display: flex;
    gap: 15px;
    padding: 15px 25px;
    background: rgba(255,255,255,0.4);
    border-radius: 30px;
    backdrop-filter: blur(10px);
    box-shadow: 0 6px 20px rgba(180,150,255,0.2);
}

nav a{
    text-decoration: none;
    color: #ff4f81;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 20px;
    transition: 0.3s;
}

nav a:hover{
    background: #ffb3d9;
    color: white;
    transform: scale(1.05);
}

/* TITRE */
h1{
    font-size: 3rem;
    color: #c77dff;
    text-align: center;
}

/* SECTIONS */
section{
    width: 85%;
    max-width: 800px;
    padding: 25px;
    border-radius: 30px;
    background: rgba(255,255,255,0.35);
    backdrop-filter: blur(12px);
    box-shadow: 0 8px 20px rgba(180,150,255,0.2);
    text-align: center;
    transition: 0.3s;
}

section:hover{
    transform: translateY(-5px);
}

/* TEXTES */
p{
    margin-top: 10px;
    font-size: 1.1rem;
}

/* LINK BUTTON GITHUB */
a{
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    background: linear-gradient(to right, #ffb3d9, #cdb4ff);
    color: white;
    padding: 12px 25px;
    border-radius: 30px;
    font-weight: bold;
    transition: 0.3s;
}

a:hover{
    transform: scale(1.05);
}